<figure id="[id]">
    <div class="content">
        <div class="img">
            <img src="[media]" alt="">
        </div>
    </div>
    <div class="desc">
        <div class="information">
        	<div class="ell">[title]</div><div class="price">[price]<i class="fa fa-rub"></i></div>
        </div> 
        <div class="icons">  
            <div class="icons-icons">
                <i class="fa fa-eye" onclick="quickView(this);" aria-hidden="true"></i>                     
                <i class="fa fa-heart-o" onclick="setLike(this);" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</figure>
