<header>
	<div id="logo">Sirendia</div>
    <div id="additional-menu">
        <div class="element"><a href="">Доставка</a></div>
        <div class="element"><a href="">Контакты</a></div>
    </div>
    
    <div id="right">
        [[isLogin]]<div id="right-icons"><a href="/basket"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></div><div id="profile"><div><a href="/profile">[name]</a></div></div>[[/isLogin]]
        
        [[!isLogin]]<div id="right-icons"><i class="fa fa-sign-in" aria-hidden="true" ></i></div><div id="profile"><div><a id="sign-in">Вход</a></div></div>[[/!isLogin]]
    </div>
</header>