<!--Sign-in-->
<div id="enterForm">
	<h2>Вход</h2>
    <h4 id="errors"></h4>
    <input name="login" type="text" size="15" maxlength="15" placeholder="Логин">
    <input name="password" type="password" size="15" maxlength="15" placeholder="Пароль">
    <div id="buttons">
        <button type="submit" name="submit" onclick="onLog();">Войти</button>
        <button type="submit" onclick="window.location.href='/registration';">Зарегистрироваться</button>
    </div>
</div>
<div id="overlay"></div>