<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Интернет магазин</title>
		
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/owl.carousel.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        
    </head>
    <body>
        <div id="wrapper">
            [header]
            <div style="white-space:nowrap;position:relative;">
                <nav style="display:inline-block;width:73%; ">
                    <ul class="top-menu">
                        <li><a href="/">Главная</a></li>	
                        <li><a href="/goods/male">Мужская одежда</a></li>
                        <li><a href="/goods/female">Женская одежда</a></li>
                        <li><a href="/goods/special">Акции</a></li>
                    </ul>
                </nav>
                <div style="display:inline-block; width:27%; position: absolute; top: 15%;">
                    <button type="submit" style="width: 30px;padding-top: 0px; float: right;"><i class="fa fa-search"></i></button>
                    <input type="text" name="q" placeholder="Поиск" style="float: right;">
                </div>
            </div>
            [home-slider]
            <div id="heading">
                <h1></h1>
            </div>
            
			<script>
                $(function(){
                    var topPos = $('.floating').offset().top; //topPos - это значение от верха блока до окна браузера
                    $(window).scroll(function() { 
                        var top = $(document).scrollTop();
                        if (top > topPos) { 
                            $('.floating').addClass('fixed');
                            $('.floating').css('margin-top','0px'); 
                        } else {
                            $('.floating').removeClass('fixed');
                            $('.floating').css('margin-top','30px'); 
                        }
                    });
                });
            </script>

            <table>
                <tr>
                    <td style="vertical-align:top; width:26%">
                        <div class="floating">
                            <span>Фильтры</span>
                        </div>
                    </td>
                    <td align="left" style="padding:15px;"> 
                        <section>
                            [goods]
                        </section>
                    </td>
                </tr>
            </table>
            [footer]
        </div>
        
        [[!isLogin]][sign-in][[/!isLogin]]
    </body>
</html>